# Core dependencies
numpy
pandas
scikit-learn
scipy
torch
torchvision
torchaudio
fastai
opencv-python-headless
matplotlib
huggingface_hub
streamlit
Pillow
urllib3

# Optional dependencies (Comment out if not needed)
# seaborn  # Visualization
# jupyterlab  # Jupyter Notebook support
# notebook  # Jupyter Notebook
# streamlit  # Web UI
# PyQt5  # GUI applications